body {
    background-color: rgb(192, 208, 240);
}

#csscanvas {
    position: relative;
    margin: auto;
    width: 200px;
    height: 370px;
    background-color: transparent;
}

/* えりかstyle */
/* 基準 */
#corebody {
    position: relative;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
}

/* 頭部 */
#head {
    position: absolute;
    top: -58px;
    left: -8px;
    width: 48px;
    height: 48px;
    border-radius: 24px 24px 24px 24px / 20px 20px 24px 24px;
    background-color: rgba(249, 219, 209, 1);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    z-index: 200;
}

#backhair {
    position: absolute;
    top: -70px;
    left: -13px;
    width: 56px;
    height: 56px;
    border-radius: 28px 28px 12px 12px / 28px 28px 12px 12px;
    background-color: rgba(35, 55, 80, 1);
    border-top: 2px solid rgba(103, 153, 190, 1);
    border-left: 2px solid rgba(103, 153, 190, 1);
    border-right: 2px solid rgba(103, 153, 190, 1);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    z-index: 0;
}

#backhair_r_0 {
    position: absolute;
    top: 44px;
    left: -4px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    border-left: 1px solid rgba(103, 153, 190, 1);
    border-bottom: 1px solid rgba(103, 153, 190, 1);
}

#backhair_r_1 {
    position: absolute;
    top: 64px;
    left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    border-left: 1px solid rgba(103, 153, 190, 1);
    border-bottom: 1px solid rgba(103, 153, 190, 1);
}

#backhair_l_0 {
    position: absolute;
    top: 44px;
    left: 28px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    border-top: 1px solid rgba(103, 153, 190, 1);
    border-right: 1px solid rgba(103, 153, 190, 1);
}

#backhair_l_1 {
    position: absolute;
    top: 64px;
    left: 32px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    border-top: 1px solid rgba(103, 153, 190, 1);
    border-right: 1px solid rgba(103, 153, 190, 1);
}

#backhair_c {
    position: absolute;
    top: 72px;
    left: 18px;
    width: 20px;
    height: 20px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    border-bottom: 1px solid rgba(103, 153, 190, 1);
    border-right: 1px solid rgba(103, 153, 190, 1);
}

#hair {
    position: absolute;
    top: 0px;
    left: 0px;
}

#fronthair {
    position: absolute;
    top: -4px;
    left: -1px;
}

#fronthair_r0 {
    position: absolute;
    top: 0px;
    left: 8px;
    width: 8px;
    height: 22px;
    border-radius: 0px 0px 0px 8px / 0px 0px 0px 22px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
}

#fronthair_r1 {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 8px;
    height: 22px;
    border-radius: 0px 0px 0px 8px / 0px 0px 0px 22px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
}

#fronthair_l1 {
    position: absolute;
    top: 0px;
    left: 27px;
    width: 8px;
    height: 22px;
    border-radius: 0px 0px 8px 0px / 0px 0px 22px 0px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

#fronthair_l0 {
    position: absolute;
    top: 0px;
    left: 35px;
    width: 8px;
    height: 22px;
    border-radius: 0px 0px 8px 0px / 0px 0px 22px 0px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
}

#sideburns {
    position: absolute;
    top: -2px;
    left: 1px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    z-index: 300;
}

#sideburns_r {
    position: absolute;
    top: 0px;
    left: 0px;
}

#sideburns_r_0 {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 8px;
    height: 16px;
    border-radius: 4px 0px 0px 0px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
}

#sideburns_r_1 {
    position: absolute;
    top: 14px;
    left: 0px;
    width: 8px;
    height: 36px;
    border-radius: 0px 0px 4px 4px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
}

#sideburns_r_2 {
    position: absolute;
    top: 30px;
    left: -2px;
    width: 8px;
    height: 16px;
    border-radius: 4px 4px 2px 2px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

#sideburns_r_3 {
    position: absolute;
    top: 13px;
    left: 0px;
    width: 6px;
    height: 16px;
    border-radius: 2px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

#sideburns_r_4 {
    position: absolute;
    top: 13px;
    left: 0px;
    width: 6px;
    height: 16px;
    border-radius: 2px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(-100deg);
    -moz-transform: rotate(-100deg);
}

#sideburns_r_5 {
    position: absolute;
    top: 13px;
    left: 0px;
    width: 4px;
    height: 12px;
    border-radius: 0px 2px 4px 0px / 0px 2px 12px 0px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
}

#sideburns_r_6 {
    position: absolute;
    top: 11px;
    left: 1px;
    width: 2px;
    height: 6px;
    border-radius: 0px 0px 2px 0px / 0px 0px 6px 0px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
}

#sideburns_l {
    position: absolute;
    top: 2px;
    left: 36px;
}

#sideburns_l_0 {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 8px;
    height: 20px;
    border-radius: 0px 6px 0px 0px / 0px 10px 0px 0px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

#sideburns_l_1 {
    position: absolute;
    top: 18px;
    left: 0px;
    width: 8px;
    height: 36px;
    border-radius: 0px 0px 4px 4px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

#sideburns_l_2 {
    position: absolute;
    top: 30px;
    left: 2px;
    width: 8px;
    height: 16px;
    border-radius: 4px 4px 2px 2px;
    background-color: rgba(35, 55, 80, 1);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
